<div class="dashboardConatiner">
    <div class="topBox">
        <h3>שלום איציק</h3>
        <div class="content">
            מסר ייחודי לצרכי עמותה - חונך <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, eveniet.
        </div>
    </div>
    <div class="bottomBox">
        <div class="newMeetingContainer">
            <div class="plusButtonBorder">
                <div class="plusButton">
                    <a routerLink="../../../main/teacher/create-meeting">
                        <h2>+</h2>
                    </a>
                </div>
            </div>
            <p>מפגש חדש</p>
        </div>
        <a class="oldMeetingLink" routerLink="../../../main/teacher/meetings-table">
            מפגשים קודמים
        </a>
    </div>
</div>