.dashboardConatiner {
  height: calc(100vh - 68px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow-y: auto;
}

.topBox {
  flex-basis: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.topBox .content {
  text-align: center;
  width: 70%;
  margin: auto;
  color: #4a4545;
  font-size: 16px;
}

.topBox h3 {
  font-weight: bold;
  font-size: 40px;
  color: #4a4545;
  margin: 25px 0;
}

.bottomBox {
  width: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addNewMeetingButton {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  margin-top: 3px;
}

.addNewMeeting {
  width: 55px;
  height: 55px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #f0740e, #f0ab0e);
  position: relative;
  box-shadow: 0 0 5px #00000029;
  margin-top: 50px;
}

.addNewMeeting::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 135%;
  height: 135%;
  padding: 10px;
  z-index: -1;
  border: 5px solid #c9c2bc4d;
  border-radius: 50px;
}


.oldMeetings {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
}

.oldMeetingLink {
  text-decoration: underline;
  color: #d1372a;
  margin: 0 auto;
}

.oldMeetingLink span {
  width: 20px;
  height: 20px;
  background-color: #d1372a;
  color: #fff;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
}