.meetingInfoContainer {
    width: 100%;
    display: grid;
    text-align: center;
    // height: calc(50vh - 68px);
    height: 100%;
    overflow-y: auto;
    margin-top: 15px;
}
h6{
  color: #6dac18;
  font-weight: bold;
  font-size: 20px;
}
.meetingTeacher p {
    font-weight: bold;
    font-size: 16px;
    color: #6dac18;
    margin-top: 100px;
  }
  .meetingDateAndTime {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }
  .separator {
    height: 30px;
    width: 2px;
    background-color: #6dac18;
  }
  .totalHours {
    font-size: 18px;
    font-weight: bold;
    color: #6dac18;
    display: flex;
    flex-direction: column;
  }
  .totalHours small {
    font-size: 10px;
  }
  .dateAndTime {
    display: flex;
    justify-content: space-around;
  }
  .dateAndTime .time {
    font-size: 18px;
    color: #6dac18;
    margin-right: 10px;
  }
  .dateAndTime .date {
    font-size: 18px;
    font-weight: bold;
    color: #6dac18;
  }
  .header {
    font-size: 16px;
    font-weight: bold;
    color: #4a4545;
  }
  .topicsContent,
  .importantCommentsContent {
    max-height: 150px;
    width: 80%;
    //   border: 1px solid black;
    border-radius: 5px;
    overflow-y: auto;
    margin: 10px auto;
    direction: rtl;
  }
  