* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
  // height: calc(100vh -61.6px -61px);
}
main {
  // height: calc(100vh -61.6px -61px);
  height: 100%;
}
.mainButton {
  background-color: #2699fb;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
}

.error-validate-form-message {
  display: block;
  float: right;
  color: red;
  font-size: 14px;
}
