* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  // height: calc(100vh -61.6px -61px);
  overflow-x: hidden;
}
main {
  height: calc(100vh - 68px);
  // height: calc(100vh -61.6px);
  // height: 100%;
}
.mainButton {
  background-color: #f0ab0e;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 3px;
}

.error-validate-form-message {
  display: block;
  float: right;
  color: red;
  font-size: 14px;
}
