.succesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  direction: rtl;
}
.success {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// .successOuter {
//   width: 75px;
//   height: 75px;
//   border-radius: 50px;
//   border: 5px solid #c9c2bc4d;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }
.success img {
  width: 50px;
  // font-size: 50px;
  // color: #89b242;
  // box-shadow: 0 0 30px #00000029;
  // border-radius: 30px;
}
h3 {
  font-size: 20px;
  color: #89b242;
}
.progressBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
small {
  width: 75px;
  margin-left: 5px;
  direction: rtl;
  font-size: 16px;
  text-align: center;
}
p {
  font-size: 12px;
}
.bar {
  width: 80%;
  margin: 0 auto;
  height: 15px;
  border-radius: 50px;
  background-color: #fff;
  border: 2px solid #111;
  position: relative;
  display: flex;
  justify-content: space-around;
}
.bar::before {
  content: "";
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color: #f0ab0e;
}
.bar .successBar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #000;
}

.thanksContent {
  text-align: center;
  color: #4a4545;
  font-size: 24px;
}
.thanksContent .fa-heart {
  font-size: 40px;
}
.endButton {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
.endButton img {
  width: 30%;
  margin-left: 20%;
}
button {
  width: 75%;
}
p {
  color: #4a4545;
}
p span {
  color: #d1372a;
  text-decoration: underline;
}
@media (max-height: 600px) {
  .succesContainer {
    overflow-y: auto;
  }
  .endButton img {
    width: 30%;
  }
}
