<div class="parentSigantureContainer">
    <div class="meetingTeacher">
        <p>ישראל ישראלי - חונכות חברתית</p>
    </div>
    <div class="meetingDateAndTime">
        <div class="totalHours">
            01:00
            <small>סה"כ שעות</small>
        </div>
        <div class="separator"></div>
        <div class="dateAndTime">
            <div class="time">
                14:00-13:00
            </div>
            <div class="date">
                29/09/2020
            </div>
        </div>
    </div>
    <div class="topicsAndActivities">
        <p class="header">
            נושאים ופעלויות שעלו במפגש
        </p>
        <div class="topicsContent">
            כאן יירשמו הערות רלוונטיות עבור אותו מפגש,
            מה נלמד, באיזה שלב החנוך והחניך נמצאים ומה היו תכני המםגש. האם
        </div>
    </div>
    <div class="importantComments">
        <p class="header">
            נושאים ופעלויות שעלו במפגש
        </p>
        <div class="importantCommentsContent">
            כאן יירשמו הערות רלוונטיות עבור אותו מפגש,
            מה נלמד, באיזה שלב החנוך והחניך נמצאים ומה היו תכני המםגש. האם
        </div>
    </div>
    <div class="confirmCheckbox">
        <div class="grid">
            <label class="checkbox path">
                <input type="checkbox" name="comfirm">
                <svg viewBox="0 0 21 21">
                    <path
                        d="M5,10.75 L8.5,14.25 L19.4,2.3 C18.8333333,1.43333333 18.0333333,1 17,1 L4,1 C2.35,1 1,2.35 1,4 L1,17 C1,18.65 2.35,20 4,20 L17,20 C18.65,20 20,18.65 20,17 L20,7.99769186">
                    </path>
                </svg>
            </label>
        </div>
        <small>קראתי ואני מאשר בחתימתי</small>
    </div>
    <div class="parentSignatureCnavas">
        <p>נא לחתום לאישור מפגש</p>
        <div class="sign">
            <div class="pSignaturePad">
                <ng-signature-pad [showClearButton]="false" [showDoneButton]="true" [emitOnDragEnd]="true"
                    [format]="'base64'" [backgroundColor]="'white'" (done)="saveImage($event)"
                    [doneButtonClass]="isCanvasWrite ? 'padConfirmButton' : 'disabledButton'"
                    [doneButtonText]="'אישור'">
                </ng-signature-pad>
            </div>
        </div>
    </div>
</div>