footer {
  width: 100vw;
  background: linear-gradient(to top, #6dac18, #d6f27b);
  height: 61px;
  position: relative;
  margin-top: 10px;
}

footer .copyRight {
  color: #fff;
  font-size: 12px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
