:host(app-id){
    display: grid;
    *{
        justify-self: center;
    }
    p{
        font-size: 5vw;
        text-align: center;
    }
    form{
        display: grid;
        width: 50%;
        input{
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: .25rem;
            border-bottom-right-radius: .25rem;
        }
        div{
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}