<!-- // איזה יופי זה מסודר -->
<div class="confirmWrapper">
    <p class="m-3">נשלח מייל, נא הזינו הקוד</p>
    <form #form="ngForm" appInputFocus [appRemoveAttr]="'placeholder'" [elementName]="'input'">
        <div class="smsCode">
            <input
                appLimitInput
                [appIntervalToggle]="'not-empty'"
                #first
                id="1"
                ngModel="virtualkey"
                required type="number"
                pattern="^\d{1}$"
                name="first"
                #one="ngModel">
            <input
                appLimitInput
                id="2"
                ngModel="virtualkey"
                [appIntervalToggle]="'not-empty'"
                required
                type="number"
                pattern="^\d{1}$"
                name="second"
                #two="ngModel">
            <input
                appLimitInput
                ngModel="virtualkey"
                [appIntervalToggle]="'not-empty'"
                id="3"
                required
                type="number"
                pattern="^\d{1}$"
                name="third"
                #three="ngModel">
            <input
                appLimitInput
                ngModel="virtualkey"
                [appIntervalToggle]="'not-empty'"
                id="4"
                required
                type="number"
                pattern="^\d{1}$"
                name="fourth"
                #four="ngModel">
        </div>
    </form>
    <div class="errors">
        <app-http-error-messages></app-http-error-messages>
    </div>
    <app-keyboard></app-keyboard>
    <small [class.disabled-link]="isValidTime" (click)="onResendConfirmCode()">לא הגיע קוד, שלח מחדש</small>
</div>
<app-loader></app-loader>
