@import '../../../styles.scss';
:host(app-confirm){
  display: grid;
  >*{
    justify-self: center;
  }
  p{
    font-size: 1.5em;
    text-align: center;
    font-weight: bolder;
  }
  form{
    width: min-content;
    display: grid;
    grid-template-rows: repeat(min-content min-content min-content min-content);
    direction: ltr;
    *:not(:host(app-keyboard)){
      margin: .5em;
      font-weight: bolder;
    }
    input{
      display: inline-block;
      width: 75%;
      justify-self: center;
      grid-row: 1/1;
      border-radius: 0;
      border-bottom: 2px $s-bg solid;
      text-align: center;
      font-size: 1.5em;
      outline: none !important;
      box-shadow: none;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button{
        -webkit-appearance: none;
      }
    }
    button{
      grid-column: 1/5;
      padding: .4rem .8rem;
      border-radius: .5rem;
      background: $s-bg;
      color: $s-color;
      font-size: 1.5rem;
    }
  }
  >button{
    margin: .25em auto;
    background: transparent;
    color: darken($s-bg, 15%);
    text-decoration: underline;
  }
}