input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.confirmWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.confirmWrapper form {
  display: table;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}
.errors {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.not-empty::-webkit-input-placeholder {
  color: #7c7676;
  font-size: 20px;
  font-weight:lighter;
  margin-top: 5px;
  transform: scaleY(1.8)
}

::-webkit-input-placeholder {
     color: white;
}

.confirmWrapper form .smsCode {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  align-items: center;
}
.confirmWrapper form .smsCode input {
  background: none;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  outline: none;
  width: 40px;
  direction: ltr;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 0;
}

h2{
  font-weight: bold;
  font-size: 28px;
}

.confirmWrapper small {
  display: block;
  border-bottom: 1px solid black;
  cursor: pointer;
  line-height: 12px;
  margin-top: 25px;
}
button {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
}