<!-- // איזה יופי זה מסודר -->
<div class="confirmWrapper">
    <p class="m-3">נשלח מייל, נא הזינו הקוד</p>
    <form #form="ngForm" appInputFocus>
        <div class="smsCode">
            <input

                appLimitInput
                #first
                id="1"
                required type="number"
                pattern="^\d{1}$"
                name="first"
                ngModel="virtualkey"
                #one="ngModel">
            <input

                appLimitInput
                id="2"
                required
                type="number"
                pattern="^\d{1}$"
                name="second"
                ngModel="virtualkey"
                #two="ngModel">
            <input

                appLimitInput
                id="3"
                required
                type="number"
                pattern="^\d{1}$"
                name="third"
                ngModel="virtualkey"
                #three="ngModel">
            <input

                appLimitInput
                id="4"
                required
                type="number"
                pattern="^\d{1}$"
                name="fourth"
                ngModel="virtualkey"
                #four="ngModel">
        </div>
    </form>
    <div class="errors">
        <app-http-error-messages></app-http-error-messages>
    </div>
    <app-keyboard></app-keyboard>
    <small (click)="onResendConfirmCode()">לא הגיע קוד, שלח מחדש</small>
</div>
<app-loader></app-loader>
