input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.confirmWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.confirmWrapper form {
  display: flex;
  flex-direction: column;
}
.codeError {
  text-align: center;
  margin-top: 10px;
  color: red;
  direction: rtl;
}

.confirmWrapper form .smsCode {
  display: flex;
  justify-content: space-around;
}
.confirmWrapper form .smsCode input {
  background: none;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  outline: none;
  width: 50px;
  direction: ltr;
}
app-keyboard {
  margin-top: 55px;
}

.confirmWrapper p {
  font-size: 24px;
  color: #2699fb;
  font-weight: 600;
}
.confirmWrapper small {
  display: block;
  border-bottom: 1px solid black;
  cursor: pointer;
  line-height: 12px;
  margin: 10px 0;
}
