input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.confirmWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}
.confirmWrapper form {
  display: table;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
}
.errors {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}
.codeError {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #d1372a;
  direction: rtl;
  font-size: 12px;
  // animation: errorEnter 1s ease-in;
  position: relative;
  width: 100%;
  // left: 50%;
  // transform: translateX(-25%);
  background-color: gray;
}
span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  // animation: errorEnter 1s ease;
}
@keyframes errorEnter {
  from {
    left: 0;
    // opacity: 0;
  }
  to {
    left: 50%;
    transform: translateX(-50%);
    // opacity: 1;
  }
}

.confirmWrapper form .smsCode {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  align-items: center;
}
.confirmWrapper form .smsCode input {
  background: none;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  outline: none;
  width: 50px;
  direction: ltr;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.disabled-link {
  pointer-events: none;
  color: #ccc;
  text-decoration: underline;
  margin: 0 auto;
}

// input:focus {
//   color: red;
// }

// ::placeholder {
//   margin: 10px;
//   color: #333;
//   opacity: 0.3;
//   text-align: center;
//   animation: fontbulger 2s infinite;
// }
// @keyframes fontbulger {
//   0% {
//     opacity: 0 ;
//   }
//   30% {
//     opacity: 0.5;
//   }
//   100% {
//     opacity: 1;
//   }
// }

.confirmWrapper p {
  font-size: 24px;
  color: #4a4545;
  font-weight: 600;
}
.confirmWrapper small {
  display: block;
  border-bottom: 1px solid black;
  cursor: pointer;
  line-height: 12px;
  margin: 10px 0;
}
button {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
}

@media (max-height: 500px) {
}
