:host(app-keyboard){
    grid-column: 1/5;
    margin: 1em 0;
    width: 100%;
    div{
        direction: ltr;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        >*{
            margin: .5em;
        }
    }
}