// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

.wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  // height: auto;
  margin: 0 auto;
  align-items: center;
  direction: rtl;
  justify-content: space-around;
  overflow-y: auto;
}

.logo {
  margin: 65px auto auto auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

 input {margin:  0 auto;
  width: 80%;
  background-color: #c9c2bc4d;
}

mat-label {
  width: 80%;
  direction: rtl;
  display: flex;
  // align-items: flex-end;
  margin: 0 auto;
}

.loginButton {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-top: 52px;
}
.loginButton button {
  margin: 0 auto;
  width: 80%;
}

.loginButton img {
  width: 35%;
}
.loginButton .buttonImage {
  width: 100%;
  display: flex;
  direction: rtl;
  margin: 0 auto;
  width: 80%;
}
.errorsContainer {
  width: 80%;
  margin: 0 auto;
}
