@import '../../../../styles.scss';
:host(app-keyboard-button) {
    display: inline-block;
    .num-keyboard {
        margin: 1em auto;
        width: 5em;
        height: 5em;
        background: $s-bg;
        border-radius: 50%;
        text-align: center;
        div{
            color: $s-color;
            top: 50%;
            transform: translateY(-50%);
            
        }
    }
    &:last-of-type{
        grid-column: span 3;
    }
}