main {
  min-height: calc(100vh - 61.6px - 61px);
  width: 100%;
  overflow: hidden;
}

section {
  min-height: calc(100vh - 61.6px - 61px);
  width: 100%;
  overflow-x: hidden;
  padding-bottom: 100px;
  overflow-y: auto;
}
