<div class="succesContainer">
    <div class="successOuter">
        <div class="success">
            <i class="fas fa-check-circle"></i>
        </div>
    </div>
    <h3>מפגש 6 נוצר בהצלחה</h3>
    <div class="progressBar">
        <div class="bar">
        </div>
    </div>
    <small> 200 שעות</small>
    <p>שעות חונכות נדרשות לחודש ספטמבר</p>
    <div class="thanksContent">
        כל הכבוד! <br> תודה על העשייה <br> ועל שיתוף הפעולה <br>
        <!-- <i class="fas fa-heart"></i> -->
    </div>
    <div class="endButton">
        <img src="../../../../assets/Group 1789.svg" alt="">
        <button class="mainButton">סיום</button>
    </div>
</div>