<div class="succesContainer">
    <!-- <div class="successOuter"> -->
    <div class="success">
        <img src="../../../../assets/Group 1815.svg" alt="">
        <!-- <i class="fas fa-check-circle"></i> -->
        <!-- </div>  -->
    </div>
    <h3>מפגש 6 נוצר בהצלחה</h3>
    <div class="progressBar">
        <div class="bar">
        </div>
    </div>
    <small> 200 שעות</small>
    <p>שעות חונכות נדרשות לחודש ספטמבר</p>
    <div class="thanksContent">
        כל הכבוד! <br> תודה על העשייה ועל שיתוף הפעולה <br>
        <p>פרטי המפגש נשלחו להורה</p>
        <p>ניתן לעקוב אחרי <span routerLink="../../../main/teacher/meetings-table">מפגשים שטרם אושרו</span> </p>
        <!-- <i class="fas fa-heart"></i> -->
    </div>
    <div class="endButton">
        <img src="../../../../assets/Group 1789.svg" alt="">
        <button class="mainButton">סיום</button>
    </div>
</div>