.tableItem {
  width: 80%;
  height: 60px;
  background-color: #ffffff;
  border: 1px solid #4a454580;
  margin: 0 auto;
  border-radius: 5px;
}
ul {
  direction: rtl;
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
ul li {
  font-size: 14px;
  color: #4a4545;
  font-weight: bolder;
  padding: 0 10px;
}
ul li:last-child {
  color: #d1372a;
  direction: rtl;
}
li span {
  width: 18px;
  height: 18px;
  background-color: #d1372a;
  color: #fff;
  border-radius: 50px;
  display: inline-block;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  margin-left: 33px;
}
