<app-header styleElement [changeClass]="'header-red'" [selector]="'#the-header'">
    <a class="backArrow" [routerLink]="['/main/teacher']">
        <i class="fas fa-arrow-left"></i> </a>
</app-header>
<div class="tableContainer">
    <div class="heading">
        <div class="title">מפגשים שטרם אושרו</div>
        <div class="list">
            <select>
                <option value>בחר משתמש</option>
                <option *ngFor="let student of students" [value]="student?.studentName">
                    {{student?.studentName}}
                </option>
            </select>
        </div>
    </div>
    <div class="table">
        <ul>
            <li>מפגש</li>
            <li>תאריך</li>
            <li>סטטוס</li>
        </ul>
        <div class="meetings">
            <app-meeting-table-item *ngFor="let report of reports" [report]="report" (sendSignAgain)="getReportSignAgain($event)" ></app-meeting-table-item>
        </div>
    </div>
</div>