.tableContainer {
  width: 100%;
  height: calc(100vh - 68px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.heading {
  width: 100%;
  margin-bottom: auto;
  // height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  // margin: 35px 0;
}
.heading .title {
  text-align: center;
  font-size: 23px;
  color: #4a4545;
  margin-bottom: 15px;
  font-weight: bold;
  margin-top: 20px;
}
.heading .list {
  width: 100%;
}

::ng-deep .mat-select-value {
  text-align: right;
}

.heading mat-select {
  width: 78%;
  margin: auto;
  border: 1px solid #4a454580;
  border-radius: 5px;
  padding: 8px;
  direction: rtl;
  background: #fff;
  margin-left: 50%;
  transform: translateX(-50%);
}
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
  width: 100%;
  height: 75%;
  background: #c9c2bc4d;
  margin-bottom: 0;
}
.table button {
  margin-bottom: 50px;
}
ul {
  direction: rtl;
  display: flex;
  justify-content: space-around;
  width: 100%;
  list-style: none;
  margin: 15px 0;
}
ul li {
  color: #4a4545;
}
app-meeting-table-item {
  width: 100%;
  margin-top: 15px;
}

.meetings {
  height: 70%;
  overflow-y: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  // align-items: center;
  justify-content: flex-start;
}
// ul li:nth-child(3) {
//   margin-left: 30px;
// }
// ul li:nth-child(2) {
//   margin-left: 40px;
// }

button {
  width: 80%;
  // margin-bottom: 60px;
}
