<app-header
    styleElement
    [changeClass]="'header-red'"
    [selector]="'#the-header'">
    <a class="backArrow" [routerLink]="['/main/teacher']">
        <i class="fas fa-arrow-left"></i> </a>
</app-header>
<div class="tableContainer">
    <div class="heading">
        <div class="title">מפגשים שטרם אושרו</div>
        <div class="list">
            <!-- <form #form="ngForm"> -->
            <select (change)="onSelectStudent($event)">
                <option value> בחר</option>
                <option
                    *ngFor="let student of students; let i = index;"
                    [disabled]="!student?.hasReports"
                    [value]="student?.ticketNo">
                    {{student?.studentName}}
                </option>
            </select>
            <!-- </form> -->
        </div>
    </div>
    <div class="table">
        <ul>
            <li>מפגש</li>
            <li>תאריך</li>
            <li>סטטוס</li>
        </ul>
        <div class="meetings">
            <div *ngIf="(reports | filter: studentSelected:'ticketNo').length === 0">
                No Repots
            </div>
            <app-meeting-table-item
                *ngFor="let report of reports | filter: studentSelected:'ticketNo';let i = index;"
                [displayItem]="anableResendParentSign(report?.lastResendDateToParent, 1)"
                [index]="i +1"
                [report]="report"
                (sendSignAgain)="getReportSignAgain($event)">
            </app-meeting-table-item>
        </div>
    </div>
</div>
