.container {
  width: 100%;
  // min-height: calc(100vh - 61px);
  height: calc(100% -61px);
  display: flex;
  flex-direction: column;
  align-items: center;
  //   background-color: red;
  flex-direction: column;
  justify-content: space-around;
}
.heading {
  width: 100%;
  //   background-color: purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.heading .title {
  text-align: center;
  font-size: 26px;
  color: #4a4545;
  margin-bottom: 10px;
  font-weight: bold;
}
.heading .list {
  width: 100%;
  margin: 0 auto;
}
.heading select {
  width: 100%;
  border: 1px solid #4a454580;
  border-radius: 5px;
  padding: 8px;
  direction: rtl;
  background: #fff;
  margin: 0 auto;
}
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 70%;
  margin: auto 0;
  background: #c9c2bc4d;
}
ul {
  direction: rtl;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 0;
  list-style: none;
}
ul li {
  color: #4a4545;
}
app-meeting-table-item {
  width: 100%;
  margin-top: 15px;
}

.meetings {
  height: 200px;
  overflow-y: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
ul li:nth-child(3) {
  margin-left: 30px;
}
ul li:nth-child(2) {
  margin-left: 40px;
}

button {
  width: 80%;
  margin-bottom: 25px;
}
