.singleMeetingContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: calc(100vh - 68px);
  overflow-y: auto;
  justify-content: space-between;
}

.buttons {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

button {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.editButton a {
  text-decoration: underline;
  margin: 15px 0;
  color: #f0ab0e;
}

.editButton {
  margin: 15px 0 ;
}
