<app-header  styleElement [changeClass]="'header-green'" [selector]="'#the-header'">
    <a [routerLink]="['/main/teacher/create-meeting']"></a>
</app-header>
<div class="singleMeetingContainer">
    <div class="meetingNumber">
        <h4>סיכום מפגש 6</h4>
    </div>
    <div class="meetingTeacher">
        <p>ישראל ישראלי - חונכות חברתית</p>
    </div>
    <div class="meetingDateAndTime">
        <div class="totalHours">
            01:00
            <small>סה"כ שעות</small>
        </div>
        <div class="separator"></div>
        <div class="dateAndTime">
            <div class="time">
                14:00-13:00
            </div>
            <div class="date">
                29/09/2020
            </div>
        </div>
    </div>
    <div class="topicsAndActivities">
        <p class="header">
            נושאים ופעלויות שעלו במפגש
        </p>
        <div class="topicsContent">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus corrupti nesciunt minus! Itaque,
            placeat deleniti facere est quos corrupti veniam, aliquid quisquam amet quae rem esse, aspernatur dolore
            maxime eligendi? Sapiente asperiores, velit provident dolorum repellat voluptas ratione eos quas commodi
            consequatur perferendis expedita mollitia, facilis ut quos a quisquam.
        </div>
    </div>
    <div class="importantComments">
        <p class="header">
            נושאים ופעלויות שעלו במפגש; בהנ9ם
        </p>
        <div class="importantCommentsContent">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus corrupti nesciunt minus! Itaque,
            placeat deleniti facere est quos corrupti veniam, aliquid quisquam amet quae rem esse, aspernatur dolore
            maxime eligendi? Sapiente asperiores, velit provident dolorum repellat voluptas ratione eos quas commodi
            consequatur perferendis expedita mollitia, facilis ut quos a quisquam.
        </div>
    </div>

    <div class="editButton">
        <a [routerLink]="['/main/teacher/create-meeting']">עריכה <i class="fas fa-pencil-alt"></i></a>
    </div>
    <button class="mainButton">אישור</button>
</div>