<p class="m-4">ברוכים הבאים חונכים/ות יקרים</p>
<form
    #form="ngForm"
    (ngSubmit)="onSendId(form)"
    class="m-4"
>
    <div class="input-group">
        <input
            [ngClass]="this.formsService.displayClass(userId.control)"
            id="id-a"
            required
            type="number"
            ngModel
            pattern="^[0-9_-]{9,9}$"
            name="userId"
            #userId="ngModel"
            class="form-control"
            placeholder="הכנס ת.ז."
        >
        <div
            id="toggle-icon"
            class="btn input-group-append input-group-text"
        >
            <span>
                <i
                    class="fa fa-user"
                    aria-hidden="true"
                ></i>
            </span>
        </div>
        <div *ngIf="this.formsService.formControlStatus(userId.control)">
            <small *ngIf="userId.errors.required">Required</small>
            <small *ngIf="userId.errors.pattern">Invalid ID Must Include 9 numbers</small>
        </div>
    </div>
    <button
        id="btn-id"
        class="btn m-2"
        [disabled]="form.invalid"
    >
        כניסה
    </button>
</form>
