<div class="wrapper">
    <div class="welcome">
        <h3>כיף שבאת!</h3>
        <p>שלום חונכים וחונכות להתחבר בבקשה</p>
    </div>
    <form
        #form="ngForm"
        (ngSubmit)="onSendId(form)"
    >
        <div class="input-group">
            <label for="teacherId">ת.ז</label>
            <div class="idInput">
                <input
                    [ngClass]="this.formsService.displayClass(teacherId.control)"
                    id="id-a"
                    required
                    type="number"
                    ngModel
                    pattern="^[0-9_-]{4,6}$"
                    name="teacherId"
                    #teacherId="ngModel"
                    class="form-control"
                    placeholder="הכנס ת.ז."
                >
            </div>
        </div>
        <div
            class="errorsContainer"
            *ngIf="this.formsService.formControlStatus(teacherId.control)"
        >
            <div
                class="error-validate-form-message"
                *ngIf="teacherId.errors.required"
            >
                שדה חובה!
            </div>
            <div
                class="error-validate-form-message"
                *ngIf="teacherId.errors.pattern"
            >
                חובה להזין 4-6 מספרים
            </div>
        </div>
        <button
            class="mainButton"
            [disabled]="form.invalid"
        >
            התחבר
        </button>
    </form>
</div>
