<div class="wrapper">
    <div class="logo">
        <img src="../../../assets/Group 1764.svg" alt>
    </div>
    <form #form="ngForm" (ngSubmit)="onSendId(form)">
        <div class="input-group">
            <label for="teacherId">מספר מזהה</label>
            <div class="idInput">
                <input [ngClass]="this.formsService.displayClass(teacherId.control)" id="id-a" required type="number"
                    ngModel pattern="^[0-9_-]{4,6}$" name="teacherId" #teacherId="ngModel" class="form-control"
                    placeholder="מספר מזהה">
            </div>
        </div>
        <div class="errorsContainer">
            <div class="error error-validate-form-message">
                שדה חובה!
            </div>
            <div class="error-validate-form-message" *ngIf="teacherId.errors.pattern">
                חובה להזין 4-6 מספרים
            </div>
        </div>
        <div class="loginButton">
            <img src="../../../assets/Group 1789.svg" alt>
            <button class="mainButton" [disabled]="form.invalid">
                התחברו
            </button>
        </div>
    </form>
</div>