<app-header
    styleElement
    [changeClass]="'header-green'"
    [selector]="'#the-header'">
    <a class="backArrow" [routerLink]="['/main/teacher']">
        <i class="fas fa-arrow-left"></i>
    </a>
</app-header>
<div class="meetingsContainer">
    <form
        class="form"
        [formGroup]="meetingForm"
        (ngSubmit)="onCreateMeeting()">
        <label>בחר תלמיד מהרשימה</label>
        <select formControlName="studentName">
            <option value>בחר</option>
            <option *ngFor="let student of students" [value]="student?.studentName">
                {{student?.studentName}}
            </option>
        </select>
        <div *ngIf="this.formsService.formControlStatus(getFormControl('studentName'))">
            <div class="errorMessage">
                שדה חובה
            </div>
        </div>
        <label>בחר תאריך</label>
        <input type="date" formControlName="meetingDate">
        <div *ngIf="this.formsService.formControlStatus(getFormControl('meetingDate'))">
            <div class="errorMessage" *ngIf="getFormControl('meetingDate').errors.required">
                שדה חובה
            </div>
            <div class="errorMessage"
                *ngIf="getFormControl('meetingDate').errors.limitDate && !getFormControl('meetingDate').errors.required">
                לא ניתן ליצור מפגש שהתקיים לפני יותר מ-3 חודשים
            </div>
            <div class="errorMessage" *ngIf="getFormControl('meetingDate').errors.blockOverDate">
                תאריך לא תקין
            </div>
        </div>
        <div class="mettingsTime" formGroupName="times">
            <div class="meetStart">
                <label>שעת התחלה</label>
                <select formControlName="meetingStartTime">
                    <option value>--:--<i class="fas fa-clock"></i></option>
                    <option *ngFor="let time of timeList" [value]="time">{{time}}</option>
                </select>
                <div class="errorMessage"
                    *ngIf="this.formsService.formControlStatus(getFormControl('meetingStartTime'))">
                    <div class="errorMessage" *ngIf=" getFormControl('meetingStartTime').errors.required">
                        שדה חובה
                    </div>
                    <div class="errorMessage" *ngIf="getFormControl('meetingStartTime').errors.blockOverTime">
                        שעה לא חוקית
                    </div>

                </div>
            </div>
            <!-- appStyleElemetSelected -->
            <div class="meetEnd">
                <label>שעת סיום</label>
                <select formControlName="meetingEndTime">
                    <option value>--:--<i class="fas fa-clock"></i></option>
                    <option *ngFor="let time of timeList" [value]="time">{{time}}</option>
                </select>
                <div class="errorMessage" *ngIf="this.formsService.formControlStatus(getFormControl('meetingEndTime'))">
                    <div class="errorMessage" *ngIf="getFormControl('meetingEndTime').errors.required">
                        שדה חובה
                    </div>
                    <div class="errorMessage" *ngIf="getFormControl('meetingEndTime').errors.blockOverTime">
                        שעה לא חוקית
                    </div>
                </div>
                <div class="errorMessage" *ngIf="getFormControl('times').errors?.PositiveTimeRange">
                    שעה לא תקינה
                </div>
            </div>
        </div>
        <div class="activitiesContainer">
            <label class="activitiesLabel"><small>נושאים ופעילויות שעלו במפגש</small></label>
            <textarea
                placeholder="נושאים ופעיליות שעלו במפגש: למשל - מה נלמד, באיזה שלב החונך והחניך נמצאים ומה היו תכני המפגש."
                formControlName="meetingActivitis"
                id="activea"
                class="txtArea textAreaOne"
                cols="5"
                rows="5">
        </textarea>
            <label class="commentsLabel"><small>הערות חשובות</small></label>
            <textarea
                placeholder="הערות חשובות: לדוגמא, לתלמיד היה קושי להתרכז."
                class="txtArea textAreaTwo"
                formControlName="meetingComments"
                cols="5"
                rows="5">
        </textarea>
        </div>
        <!-- [disabled]="meetingForm.invalid"  -->
        <button
            [class.disabledButton]="meetingForm.invalid"
            [disabled]="meetingForm.invalid"
            type="submit"
            class="mainButton">
            צור פגישה
        </button>
    </form>
</div>
