.meetingsContainer {
  width: 100%;
  height: calc(100vh - 68px);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}
form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
  direction: rtl;
}

input,
button,
select,
textarea {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  direction: rtl;
  outline: none;
}
label {
  display: flex;
  width: 80%;
  direction: rtl;
  font-size: 14px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  width: 55%;
  outline: none;
}
.errorMessage {
  width: 100%;
  justify-content: center;
}
// input[type="date"]::-webkit-calendar-picker-indicator {
//   background: transparent;
//   bottom: 0;
//   color: transparent;
//   cursor: pointer;
//   left: 0;
//   right: 0;
//   top: 0;
//   width: 100%;
//   outline: none;
// }

.mettingsTime {
  width: 80%;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  color: #4a4545;
  margin-top: 10px;
  direction: rtl;
}
.mettingsTime label {
  font-size: 10px;
  direction: rtl;
}
.meetEnd {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  direction: rtl;
  float: left;
}
.meetStart {
  width: 50%;
  display: flex;
  flex-direction: column;
  direction: rtl;
}

.mettingsTime select {
  max-height: 200px;
  overflow-y: auto;
}

.activitiesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
::placeholder {
  direction: rtl;
}
button {
  margin: 10px 0;
}
::placeholder {
  padding: 5px;
}

textarea:focus {
  border: 2px solid black;
}

@media (max-height: 600px) {
  ::placeholder {
    font-size: 12px;
  }
}
// .without_ampm::-webkit-datetime-edit-ampm-field {
//   display: none;
// }
