.meetingsContainer {
  width: 100%;
  height: calc(100vh - 68px);
  max-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}
form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
  direction: rtl;
}

button {
  width: 80%;
}

input,
select,
textarea {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #000;
  direction: rtl;
  outline: none;
  background-color: white;
}

label {
  display: flex;
  width: 80%;
  direction: rtl;
  font-size: 14px;
  margin: 5px 0;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  width: 55%;
  outline: none;
}
.errorMessage {
  width: 100%;
  justify-content: center;
}

.mettingsTime {
  width: 80%;
  display: flex;
  // align-items: center;
  justify-content: space-between;
  color: #4a4545;
  margin-top: 10px;
  direction: rtl;
}

select {
  text-align: center;
}
// select option:hover {
//   background: none;
//   box-shadow: none;
//   background-color: #f0ab0e;
//   color: #fff;
// }



.mettingsTime label {
  font-size: 10px;
  direction: rtl;
}
.meetEnd {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  direction: rtl;
  float: left;
}
.meetStart {
  width: 50%;
  display: flex;
  flex-direction: column;
  direction: rtl;
}

.activitiesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
::placeholder {
  direction: rtl;
}
button {
  margin: 10px 0;
  border: none;
}
::placeholder {
  padding: 5px;
}

textarea:focus {
  border: 2px solid black;
}

@media (max-height: 600px) {
  ::placeholder {
    font-size: 12px;
  }
}
