<div class="meetingsContainer">
    <form class="form" [formGroup]="meetingForm" (ngSubmit)="onCreateMeeting()">
        <div class="createFormInput">
            <label>בחר מהרשימה</label>
            <select class="selectUser" [ngClass]="this.formsService.displayClass(getFormControl('ticketNo'))"
                formControlName="ticketNo">
                <option value>בחר</option>
                <option *ngFor="let student of students | async" [value]="student?.ticketNo">
                    {{student?.studentName}}
                </option>
            </select>
            <div *ngIf="this.formsService.formControlStatus(getFormControl('ticketNo'))">
                <div class="errorMessage">
                    שדה חובה
                </div>
            </div>
        </div>
        <div class="createFormInput">
            <label>בחר תאריך</label>
            <input [ngClass]="this.formsService.displayClass(getFormControl('meetingDate'))" type="date"
                formControlName="meetingDate">
            <div *ngIf="this.formsService.formControlStatus(getFormControl('meetingDate'))">
                <div class="errorMessage" *ngIf="getFormControl('meetingDate').errors.required">
                    שדה חובה
                </div>
            </div>
        </div>
        <div class="mettingsTime">
            <div class="meetStart">
                <small>שעתהתחלה</small>
                <input [ngClass]="this.formsService.displayClass(getFormControl('meetingStartTime'))" type="time"
                    formControlName="meetingStartTime">
                <div *ngIf="this.formsService.formControlStatus(getFormControl('meetingStartTime'))">
                    <div class="errorMessage" *ngIf="getFormControl('meetingStartTime').errors.required">
                        שדה חובה
                    </div>
                </div>
            </div>
            <div class="meetEnd">
                <small>שעת סיום</small>
                <input [ngClass]="this.formsService.displayClass(getFormControl('meetingEndTime'))" type="time"
                    formControlName="meetingEndTime">
                <div *ngIf="this.formsService.formControlStatus(getFormControl('meetingEndTime'))">
                    <div class="errorMessage" *ngIf="getFormControl('meetingEndTime').errors.required">
                        שדה חובה
                    </div>
                </div>
            </div>
        </div>
        <div class="activitiesContainer">
            <textarea
                placeholder="נושאים ופעיליות שעלו במפגש: למשל - מה נלמד, באיזה שלב החונך והחניך נמצאים ומה היו תכני המפגש."
                formControlName="meetingActivitis" id="activea" class="txtArea textAreaOne" cols="5" rows="5">
        </textarea>
            <label class="activitiesLabel"><small>נושאים ופעילויות שעלו במפגש</small></label>
            <textarea placeholder="הערות חשובות: לדוגמא, לתלמיד היה קושי להתרכז." class="txtArea textAreaTwo"
                formControlName="meetingComments" cols="5" rows="5">
        </textarea>
            <label class="commentsLabel"><small>הערות חשובות</small></label>
        </div>
        <button [class.disabledButton]="meetingForm.invalid" (click)="createMeeting()" type="submit" class="mainButton">
            צור פגישה
        </button>
    </form>
</div>

<!-- [disabled]="meetingForm.invalid -->