.meetingsContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

::ng-deep.mat-calendar-body-selected {
  border-radius: 100% !important;
  background-color: #f0ab0e !important;
}

::ng-deep.mat-calendar-header button{
  color: rgb(61, 141, 29) !important;
}

::ng-deep.mat-calendar-header {
  color: rgb(61, 141, 29);
}

::ng-deep .mat-select-value {
  text-align: right;
}

mat-select {
  width: 80%;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  // position: fixed;
}

mat-option {
  text-align: right;

}
::ng-deep.m-option.mat-selected {
  background-color: #f0ab0e !important;
}

::ng-deep.mat-calendar-body-today{
  border-radius: 100% !important;
  border: solid 1px #f0ab0e !important;
}

mat-label{
  width: 80%;
  text-align: start;
  direction: rtl;
  font-size: 14px;
  margin-top: 1rem;
}

.mettingsTime mat-label{
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
  direction: rtl;
}

button {
  width: 80%;
}

.icon  {
   position: absolute;
   left: 15px;
   margin-left: 20px;
}

.inputContainer {
   width: 80%;
   margin: 0 auto;
   position: relative;
   display: flex;
   border-radius: 5px;
   border: 1px solid #000;
   justify-content: space-around;
   align-items: center;
}

#date-input {
  background: transparent;
  border: none;
  width: 100%;
  padding: 10px;
}

.svg-inline--fa {
  margin-left: 15px;
}

// input,
textarea {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000;
  direction: rtl;
  outline: none;
  background-color: white;
}

.mettingsTime {
  width: 80%;
  display: flex;
  justify-content: space-between;
  color: #4a4545;
  direction: rtl;
}


.meetEnd {
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;
  float: left;
}

.meetStart {
  width: 43%;
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;
}

.meetingEndHours, .meetStartHours {
  width: 100%;
}

.activitiesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::placeholder {
  direction: rtl;
  padding: 5px;
}

button {
  margin: 10px 0;
  border: none;
}

textarea:focus {
  border: 1.5px solid black;
}

.error-message {
  color: red;
  text-align: start;
  direction: rtl;
  font-size: 12px;
}

.mettingsTime .error-message-con .error-message {
  margin-right: 1.5rem;
}

.error-message-con {
  display: flex;
  justify-content: start;
  width: 80%;
}

@media (max-height: 600px) {
  ::placeholder {
    font-size: 12px;
  }
}
